*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.container {
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        padding: 2rem;
        width: 100%;
    }
}
